[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

# Confluence Configs
# character-set-server=utf8
# collation-server=utf8_bin
# max_allowed_packet=256M
# innodb_log_file_size=2GB
transaction-isolation=READ-COMMITTED

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name={{ galera_wsrep_cluster_name }}
wsrep_cluster_address = "gcomm://{{ groups['DB_Cluster'] | map('extract', hostvars, [galera_cluster_interface,'ipv4','address']) | list | join(',') }}"
#  Galera Synchronization Configuration

# Galera Node Configuration
wsrep_node_address={{ ansible_eth0.ipv4.address }}
wsrep_node_name={{ ansible_hostname }}

# SST settings
wsrep_sst_method=rsync
wsrep_sst_receive_address={{ ansible_eth0.ipv4.address }}
wsrep_sst_auth={{ galera_user }}:{{ galera_pass }}

